FileConfigurazione/AreeCritiche.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:AreeCritiche-schema">
  <xs:element name="Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Aree">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Area">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Cdb">
                      <xs:complexType>
                        <xs:attribute name="Id" type="xs:nonNegativeInteger" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Id" type="xs:nonNegativeInteger" use="required" />
                  <xs:attribute name="Limite" type="xs:nonNegativeInteger" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Missioni">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Missione">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Cdb">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="Azione">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:integer">
                                  <xs:attribute name="IdArea" type="xs:nonNegativeInteger" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" type="xs:nonNegativeInteger" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Trn" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Deadlocks">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Deadlock" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Posizione" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="TRN" type="xs:nonNegativeInteger" />
                        <xs:attribute name="CDB" type="xs:nonNegativeInteger" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>