FileConfigurazione/ConfigurazioneProfiliVelocita.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:configurazioneprofilivelocita-schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configurazioneprofilivelocita">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="profilovelocita" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="progressivakm"  maxOccurs="unbounded" minOccurs="1" >
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="velocita"  maxOccurs="1" minOccurs="1">
                      <xs:complexType>
                        
                            <xs:attribute type="xs:nonNegativeInteger" name="limite" />
                        
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:nonNegativeInteger" name="km"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:nonNegativeInteger" name="trenoid" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>