FileConfigurazione/MapTreni.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:confMapTreni-schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bind">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="map" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:nonNegativeInteger" name="idtrenologico"/>
              <xs:element type="xs:nonNegativeInteger" name="idtrenofisico"/>
              <xs:element type="xs:nonNegativeInteger" name="cdbpos"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
