FileConfigurazione/MapTreni.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:confMapTreni-schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bind">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="trenofisico">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="trenilogici">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:nonNegativeInteger" name="idtrenologico" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:nonNegativeInteger" name="cdblastpos"/>
            </xs:sequence>
            <xs:attribute type="xs:nonNegativeInteger" name="engine_nbr"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  </xs:schema>
