FileConfigurazione/TabellaOrario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="orario" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="treno" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="stazione">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="arrivo" type="xs:time" />
                    <xs:element name="partenza" type="xs:time" />
                    <xs:element name="binarioprogrammato" type="xs:nonNegativeInteger" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:nonNegativeInteger" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>