FileConfigurazione/TabellaOrario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  targetNamespace="urn:tabellaorario-schema">
  <xs:element name="orario" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="treno" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="stazione" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="arrivo" type="xs:time" />
                    <xs:element name="partenza" type="xs:time" />
                    <xs:element name="binarioprogrammato" type="xs:nonNegativeInteger" />
					<xs:element name="latoaperturaporteprogrammato" type="xs:string" />
					<xs:element name="itinerarioEntrata" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:nonNegativeInteger" name="id" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="itinerarioUscita" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:nonNegativeInteger" name="id" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
				  <xs:attribute name="id" type="xs:nonNegativeInteger" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:nonNegativeInteger" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>